*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root{
    --bg-color:#000000;
    --bg-button-color:#1a1a1a;
    --primary-text-color:#f4f4f4;
    --bg-task-color:#2a2a2a;
    --task-title-bg-color: rgba(17, 16, 16, 0.81);

    /*padding variable*/
    --nav-padding:15px 30px;
    --section-padding:15px 30px;
    --padding-sm:5px;
    --padding-md:10px;
    --padding-lg:15px;
    --padding-xl:20px;
    --padding-2xl:25px;
    --padding-3xl:30px;

    /*border radius variable */
    --border-radius-s:5px;
    --border-radius-m:10px;
    --border-radius-l:15px;
    --border-radius-xl:20px;
    --border-radius-2xl:25px;
    


}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

body{
    background-color: var(--bg-color);
    color:var(--primary-text-color);
}
nav{
    padding: var(--nav-padding);
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}
nav .btn{
    background-color: var(--primary-text-color);
    color:var(--bg-color);
    border: none;
    outline: none;
    padding: var(--padding-md) var(--padding-lg);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    text-align: center;
    font-weight: 600;
    box-shadow: 1px 1px 14px var(--primary-text-color);
    transition: all 1s  cubic-bezier(.19,1,.22,1);
}

.btn:hover{
   transform: scale(1.2);
  
 }


.board{
    padding: var(--section-padding);
    display: flex;
  
    justify-content: space-between;
    flex-grow: 1;
    gap:var(--padding-3xl);
    
}
.task-column{
    background-color:var(--bg-button-color);
    padding: var(--padding-sm) var(--padding-md);
    flex-grow: 1;
    transition: all 0.7s cubic-bezier(0.19,1,0.22,1);
    /*cubic-bezier(x1, y1, x2, y2)*/

    display: flex;
    flex-direction: column;
    gap: 15px;

   
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-lg) var(--padding-md);
    
}
.task{
    background-color: var(--bg-task-color);
    padding: var(--padding-sm) var(--padding-2xl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    cursor:grab ;

    /**********************/
   
    
}
.delete-btn{
     align-self: flex-end;
     background-color: var(--primary-text-color);
    color:var(--bg-color);
    border: none;
    outline: none;
    padding: var(--padding-md) var(--padding-lg);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    text-align: center;
    font-weight: 600;
    transition: all 2s ease linear;
    margin: var(--padding-md);

}
.delete-btn:hover{
    transform: translatey(-4px) scale(1.03);
    
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale:1.05
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: rebeccapurple; */
    display: none; 
}
 
.active{
        display: flex;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61,61,61,0.404);
    backdrop-filter: blur(3px);
}

.modal .center{
        background-color:var(--task-title-bg-color);
        padding:var(--padding-2xl) ;
        border-radius: var(--border-radius-m);
        display: flex;
        flex-direction: column;
        gap: var(--padding-md);
       z-index: 10;
       
    }


.center input , textarea{
    background-color:rgba(70, 65, 65, 0.555);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radius-s);
    font-weight: 600;


}

.add-task-btn{
    background-color: var(--primary-text-color);
    border: none;
    outline: none;
    color: var(--bg-color);
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--border-radius-m);
    padding: var(--padding-md) var(--padding-xl);
    align-self: center;
    margin: var(--padding-sm);
     transition: all 1s cubic-bezier(0.19,1,0.22,1);


}

.add-task-btn:hover{
     transform: translatey(-4px) scale(1.03);
      box-shadow: 1px 1px 6px var(--primary-text-color);
  
}